*{
    margin:0px;
    padding: 0px;
}

body{
    background-color: #dbe3e9;
}



#eventBest_container{
    height:1296px;
    width: 1001px;
    background-color: #ffffff;
    margin:0px auto;
}

#eventBest_container li{
    float:left;
    color: #818181;
    font-family: "Microsoft Yahei";
    font-size: 14px;
    list-style-type: none;
    margin-right: 12px;
    margin-top: 13px;

}


#eventBest_text{
    position: relative;
    top:-27px;
    left:10px;
    color: #acded8;
}

#eventBest_lu{
    position: relative;
    top:-6px;
    left:3px;
}

#eventBest_container .eventBest_gt{
    color: #98b6c1;
}

#eventBest_line2{
    width:826px;
    height: 0px;
    border: 1px solid #cbcbcb;
    margin: 0px auto 50px auto ;
    clear:left;
    position:relative;
    top:35px;
}

h2{
    float:left;
    font-size: 18px;
    margin-left:90px;
    font-family: "Microsoft Yahei";
}

/*#container .lunbo{*/
    /*width:354px;*/
    /*height:155px;*/
    /*border:2px solid #d1d1d1;*/
    /*float:left;*/
    /*margin-left:360px;*/
/*}*/

/*iframe{*/
    /*width:360px;*/
    /*height:155px;*/
    /*border:2px solid #d1d1d1;*/
    /*float:left;*/
    /*margin-left:360px;*/
/*}*/


#eventBest_main{
    /*height: 160px;*/
    /*width: 360px;*/
    /*position: relative;*/
    width:360px;
    height:155px;
    border:2px solid #d1d1d1;
    float:left;
    margin-left:360px;
}

.eventBest_border{
    height: 136px;
    width: 343px;
    background-color: white;
    padding: 9px 7px 9px 7px;
    border:2px solid #dde4ea;
    margin: 0px 0px 0px 0px;
    float: left;
}

.eventBest_swiper_container2 {
    height: 136px;
    width: 343px;
}

.eventBest_pagination2 {
    left: 2px;
    text-align: right;
    width: 358px;
    height: 30px;
    float: left;
    background-color: black;
    opacity: 0.7;
    position: relative;
    top: -30px;
    z-index: 1;
}

.eventBest_swiper_pagination_switch2 {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: white;
    border: 2px;
    border-color: white;
    border-style: solid;
    margin: 0 4px;
    cursor: pointer;
    position: relative;
    top: 5px;
}

.eventBest_swiper_active_switch2 {
    background: #516971;
}

/*.lunbo img{*/
    /*margin:8px 5px 0px 5px;*/
/*}*/

#eventBest_pointer{
    clear:left ;
    position:relative;
    left:-780px;
    top:133px;
}

#eventBest_container .eventBest_show{
    width:835px;
    height:697px;
    border:2px solid #d1d1d1;
    margin:150px auto 0px auto;
}

#eventBest_container .eventBest_picture{
    width: 256px;
    height: 160px;
    border:2px solid #d1d1d1;
    margin:12px 0px 0px 12px;
    float:left;
    cursor: pointer;
}

.eventBest_picture .eventBest_p{
    margin:8px 11px 0px 11px;
    width:236px;
    height:106px;
}

.eventBest_picture p{
    font-family: "Microsoft Yahei";
    font-size: 14px;
    margin: 6px 10px 0px 10px;
    line-height: 15px;
}

/*footer{*/
    /*height: 55px;*/
    /*width: 100%;*/
    /*background-color: #333333;*/
/*}*/




.eventBest_device {

    width:835px;
    height:697px;
    /*border:2px solid #d1d1d1;*/
    margin:150px auto 0px auto;

    /*width: 640px;*/
    /*height: 300px;*/
    /*padding: 30px 40px;*/
    /*border-radius: 20px;*/
    /*background: #111;*/
    /*border: 3px solid white;*/
    /*margin: 5px auto;*/
    /*position: relative;*/
    /*box-shadow: 0px 0px 5px #000;*/
}
/*.device .arrow-left {*/
    /*background: url(img/arrows.png) no-repeat left top;*/
    /*position: absolute;*/
    /*left: 10px;*/
    /*top: 50%;*/
    /*margin-top: -15px;*/
    /*width: 17px;*/
    /*height: 30px;*/
/*}*/
/*.device .arrow-right {*/
    /*background: url(img/arrows.png) no-repeat left bottom;*/
    /*position: absolute;*/
    /*right: 10px;*/
    /*top: 50%;*/
    /*margin-top: -15px;*/
    /*width: 17px;*/
    /*height: 30px;*/
/*}*/

.eventBest_swiper_container {
    width:835px;
    height:697px;
    border:2px solid #d1d1d1;
    margin:150px auto 0px auto;
}
.eventBest_content_slide {
    width:835px;
    height:510px;
    /*padding: 20px;*/
    /*color: #fff;*/
}
/*.title {*/
    /*font-size: 25px;*/
    /*margin-bottom: 10px;*/
/*}*/

.eventBest_pagination {
    position: relative;
    left: 0;
    text-align: center;
    bottom:5px;
    width: 100%;
    top:-87px;
}

.eventBest_swiper_pagination_switch {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #7f7f7f;
    box-shadow: 0px 1px 2px #555 inset;
    margin: 0 10px;
    cursor: pointer;
}

.eventBest_swiper_active_switch {
    background: #f3ac15;
}




/*
 * Swiper 2.7.0
 * Mobile touch slider and framework with hardware accelerated transitions
 *
 * http://www.idangero.us/sliders/swiper/
 *
 * Copyright 2010-2014, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 *
 * Licensed under GPL & MIT
 *
 * Released on: August 30, 2014
*/
/* ===============================================================
Basic Swiper Styles
================================================================*/
.eventBest_swiper_container2 {
    margin:0 auto;
    position:relative;
    overflow:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    /* Fix of Webkit flickering */
    z-index:1;
}
.eventBest_swiper_wrapper2 {
    position:relative;
    width:100%;
    -webkit-transition-property:-webkit-transform, left, top;
    -webkit-transition-duration:0s;
    -webkit-transform:translate3d(0px,0,0);
    -webkit-transition-timing-function:ease;

    -moz-transition-property:-moz-transform, left, top;
    -moz-transition-duration:0s;
    -moz-transform:translate3d(0px,0,0);
    -moz-transition-timing-function:ease;

    -o-transition-property:-o-transform, left, top;
    -o-transition-duration:0s;
    -o-transform:translate3d(0px,0,0);
    -o-transition-timing-function:ease;
    -o-transform:translate(0px,0px);

    -ms-transition-property:-ms-transform, left, top;
    -ms-transition-duration:0s;
    -ms-transform:translate3d(0px,0,0);
    -ms-transition-timing-function:ease;

    transition-property:transform, left, top;
    transition-duration:0s;
    transform:translate3d(0px,0,0);
    transition-timing-function:ease;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.swiper-free-mode > .eventBest_swiper_wrapper2 {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}
.eventBest_swiper_slide2 {
    float: left;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}



.eventBest_swiper_container {
    margin:0 auto;
    position:relative;
    overflow:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    /* Fix of Webkit flickering */
    z-index:1;
}
.eventBest_swiper_wrapper {
    position:relative;
    width:100%;
    -webkit-transition-property:-webkit-transform, left, top;
    -webkit-transition-duration:0s;
    -webkit-transform:translate3d(0px,0,0);
    -webkit-transition-timing-function:ease;

    -moz-transition-property:-moz-transform, left, top;
    -moz-transition-duration:0s;
    -moz-transform:translate3d(0px,0,0);
    -moz-transition-timing-function:ease;

    -o-transition-property:-o-transform, left, top;
    -o-transition-duration:0s;
    -o-transform:translate3d(0px,0,0);
    -o-transition-timing-function:ease;
    -o-transform:translate(0px,0px);

    -ms-transition-property:-ms-transform, left, top;
    -ms-transition-duration:0s;
    -ms-transform:translate3d(0px,0,0);
    -ms-transition-timing-function:ease;

    transition-property:transform, left, top;
    transition-duration:0s;
    transform:translate3d(0px,0,0);
    transition-timing-function:ease;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.swiper-free-mode > .eventBest_swiper_wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}
.eventBest_swiper_slide {
    float: left;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
}

